body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgba(24, 41, 51, 255);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
    line-height: 1.6;
}

li {
    font-size: 1.2em;
    line-height: 1.6;
}

.back-pain {
    font-family: 'Handlee', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    white-space: nowrap;
}

.navbar-brand {
    position: relative;
    text-decoration: none;
}

.navbar-brand::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-brand:hover::after {
    width: 100%;
    left: 0;
}

.spacer {
    height: 50px;
    /* Adds 50px of vertical space */
}

.mini-spacer {
    height: 25px;
    /* Adds 50px of vertical space */
}

.my-hr {
    width: 45%;
    height: 1px;
    background-color: #CCCCCC;
    border: none;
}

.side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eximage {
    width: 50%;
    margin-right: 20px;
    border-radius: 5% 5% 5% 0%;
    border: 1px;
}

.extext {
    width: 50%;
    font-size: 1.2em;
    padding: 0.8em;
}

.introimage {
    width: 50%;
    border-radius: 25%;
    border: 1px;
}

.exlist {
    padding: 1.5%;
    font-size: 1.2em;
}

.disclaimer {
    font-size: 0.8em;
    color: #ffffff;
    background-color: rgba(24, 41, 51, 255);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px;
}

.ovid-container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .side-by-side {
        display: block;
        margin-bottom: 20px;
    }

    .side-by-side img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .side-by-side .extext {
        text-align: center;
        margin-top: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .side-by-side .eximage {
        text-align: center;
        margin-top: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .side-by-side:nth-child(2n) {
        flex-direction: column-reverse;
    }

    #desktopContent {
        display: none;
    }
}

@media (min-width: 768px) {
    .side-by-side {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .side-by-side:nth-child(even) {
        flex-direction: row-reverse;
    }

    .side-by-side img {
        flex: 0 0 50%;
        margin-right: 20px;
    }

    .side-by-side .extext {
        flex: 0 0 50%;
        text-align: left;
    }

    #mobileContent {
        display: none;
    }
}

#desktopContent {
    padding: 0;
}

#mobileContent {
    padding: 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #8d8c8c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.7;
    transition: opacity 0.3s;
    z-index: 9999;
}

#myBtn:hover {
    background-color: #555;
    opacity: 1;
    /* Add a dark-grey background on hover */
}